ul li{list-style: none;}
a, a:visited{text-decoration: none;}

body {
	text-align: center;
	font-size: 12px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

header {
	padding-top: 15px;
}

header img{
	height: 25%;
	width: 65%;
}
																			/** Начало горизонтального меню **/
nav { 
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 5vh;
}

ul.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.menu li {
	padding: 0 20px;
	color: #243F6A;
	text-shadow: 2px 2px 4px #000;
	font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 700;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: .5s;
	list-style-type: none;
}

li a {
	text-decoration: none;
	color: #243F6A;
	font-size: 20px;
	transition: .5s;
	padding: 10px;
}

ul.menu:hover li a {
	filter: blur(5px);
}

ul.menu:hover li a:hover { 
	font-size: 25px;
	filter: blur(0px);
	background-color: hsla(312, 100%, 58%, 0.1);
	border-radius: 20px;
}

main {
	position: absolute;
	top: 700px;
	left: 530px;
	width: 800px;
	height: 1500px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 20px;
	z-index: 1;
	background-color: hsla(0, 0%, 84%, 0.15);
	overflow: auto;
	overflow-x: hidden;
}

.SideBarReg{
	display: none;
	position: absolute;
	top: 1730px;
	left: 200px;
	width: 300px;
	height: 470px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 20px;
	z-index: 2;	
	background-color: hsla(0, 0%, 84%, 0.15);
}

footer{
	position: absolute;
	margin: 0;
	padding: 10px 100px 10px 50px;
	top: 1520px;
	left: -1160px;
	width: 1310px;
	height: 100px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 20px;
	z-index: 1;
	background-color: hsla(0, 0%, 84%, 0.15);
}

div footer{
	text-align-last: left;
}

.datatime{
	padding: 20px 0 20px 0;
	text-align: right;
	padding-right: 100px;
	font-size: 12px;
	font-weight: 700;
}

.content{
	padding: 20px 0 0 0;
}

main img{
	border-radius: 8%;
}
